:root {
    --color1: rgb(152, 70, 85);
    --color2: rgb(69, 85, 97);
    --color3: rgb(34, 50, 61);
    --color4: rgb(247, 247, 247);
    --white: rgb(255,255,255);
    --opacity1: rgba(152, 70, 85, .15);
    --bs-body-font-size: 1.12rem;
    --bs-primary-rgb: 225, 225, 225;
    --bs-light-rgb: 255, 255, 255;
}

.about-img-left {
    object-fit: cover;
    height: 650px;
    max-height: 650px;
    width: 135%;
    margin-left: -310px;
    margin-bottom: 150px;
    border-radius: 0 375px 375px 0;
    box-shadow: 15px 15px 25px var(--opacity1);
    border: solid 2px var(--white);
    overflow: hidden;
}

.about-img-right {
    object-fit: cover;
    height: 650px;
    max-height: 650px;
    width: 141%;
    margin-right: -350px;
    margin-bottom: 150px;
    border-radius: 375px 0 0 375px;
    box-shadow: 15px 15px 25px var(--opacity1);
    border: solid 2px var(--white);
    overflow: hidden;
} 

/**  RESPONSIVE BEGINS  **/
@media screen and (max-width:568px) {
    .about-img-left {max-height:400px;
        width: 100%;
        border-radius: 0 40px 60px 0;
        margin: 0;
    }
}