:root {
    --color1: rgb(171, 42, 61);
    --color2: rgb(217, 136, 89);
    --color3: rgb(49, 64, 53);
    --color4: rgb(240, 239, 235);
    --white: rgb(255,255,255);
    --black: rbg(10, 10, 10);
    --opacity1: rgba(152, 70, 85, .15);
    --bs-body-font-size: 1.12rem;
    --bs-primary-rgb: 225, 225, 225;
    --bs-light-rgb: 255, 255, 255;
    --bs-offcanvas-width: 630px;
}

@keyframes hover-effect {
    0%   {opacity: 1; right: 0px}
    50%  {opacity: .75; right: 50px;}
    100% {opacity: 1; right: 0px;}
}

@keyframes fadeIn {
    0%   {opacity: .45; word-spacing: 0px;}
    100% {opacity: 1; word-spacing: 12px;}
}

body {background-color: var(--white);
    color: var(--black);
    background-image: url("/media/bg-texture.png");
}

body p {font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.55;
}

body a {text-decoration: none;
    color: var(--white);
}

.btn-primary {background-color: var(--color1);
    border-color: var(--color1);
    border-radius: 25px;
    padding: 10px 15px;
    font-weight: 600;
}

.btn-primary:hover {background-color: var(--color3);
    border-color: var(--color3);
}

.btn-primary:active {background-color: var(--color3);
    border-color: var(--color3);
}

/* --- NAVBAR BEGINS --- */
.navbar {box-shadow: 5px 5px 25px var(--opacity1);
    border-bottom: #858585 1px solid;
}

.navbar-nav li a {text-decoration: none;
    text-transform: uppercase;
    font-weight:600;
    color: var(--color3);
    position: relative;
    margin-left: 10px;
}

.navbar-nav li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color2);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.navbar-nav li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.navbar-brand:active {transform: scale(0.96);}

.offcanvas.show:not(.hiding), .offcanvas.showing {width: 550px; z-index: 2000;}

h1, h2, h3, h4 {font-family: "Piazzolla", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    letter-spacing: .15rem;
    color: var(--color1);
}

.container-fluid {
    width: 100%;
    overflow: hidden;
    margin-left: 0; padding: 0;
    margin-bottom: 40px;
}

.image-intro {object-fit: cover;
    min-height: 450px;
    max-height: 450px;
    width: 100vw;
    overflow: hidden;
}

.image-intro-gradient {background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    height:100px;
}

.contact-info {background-color: var(--color3);
    background-image: url("/media/bg-texture.png");
    padding-top: 150px;
    bottom: -10px !important;
}

.contact-info p, .contact-info h3 {color: white;}

.contact-info hr {border-color: var(--white);}

.spacer-top {margin-top: 7rem;}

.food-cat {margin-bottom: -60px;}

.img-columns {object-fit: cover;
    border-radius: 15px;
    min-height: 440px; max-height: 440px;
    z-index: -1;
    box-shadow: -10px -10px 25px var(--opacity1);
    border: solid 5px var(--color4);
}

.img-headers {background-image: url("media/bg-texture.webp");
    color: var(--color2);
    font-size: 38px;
    margin: 0 0 -50px 15px;
    position: relative;
    letter-spacing: 4px;
    text-shadow: var(--color4) 1px 0 10px;
    text-align: center;
}

/* WAVE */
.wave {
    position: absolute;
    top: 473px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg);
    z-index: 1000;
    
}

.wave svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 80px;
    transform: rotateY(180deg);
    
}

.shape-fill {
    fill: #fff;
    object-fit: cover;
}

/** CAROUSEL BEGINS **/
/* #demo .carousel-item img {  
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height:75vh;
}

#demo .carousel-item:before {
    content: "";
    background-image: linear-gradient(to bottom, transparent, rgba(65, 65, 65, .85));
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
  }

.carousel-caption {top: 4rem;
    text-align: left;
    left: 11%;
    opacity: 1;
}

.carousel-caption h1 {font-size: 5.5rem;
    letter-spacing: .25rem;
    word-spacing: 12px;
    transition: 2s;
    color: var(--color1);
    animation: fadeIn 2s;
    text-shadow: var(--white) 1px 0 20px;
}

.carousel-caption p {font-size: 1.75rem;
    font-weight: bold;
} */

/** Video Starts Here **/ 
#videowrapper {position: relative; overflow: hidden;}

#fullScreenDiv{
    min-height: 100%; 
    height: 75vh;
    width: 100vw;
    padding:0;
    margin: 0;
}

#video{    
    width: 100vw; 
    height: 100%;
    margin: auto;
    display: block;
    object-fit: cover;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
    opacity: .95;
}

.vid-description {position: absolute;
    margin-top: -470px;
    width: 100%;
    padding: 0 10% 0;
    overflow: hidden;
}

.vid-description h1 {font-size: 5.5rem;
    letter-spacing: .25rem;
    word-spacing: 12px;
    transition: 2s;
    color: var(--color1);
    animation: fadeIn 2s;
    text-shadow: var(--white) 1px 0 20px;
}

.vid-description p {font-size: 1.75rem;
    font-weight: bold;
    color: var(--white)
}

.campaign-line-wrapper {
    height: 10vw;
    top: -11.5vw;
}

/** FOOD MENU BEGINS **/
.sticky-top-custom {
  position: sticky;
  top: 130px; /* adjust if you have a navbar */
}

/* Optional: limit height and allow scroll if many categories */
.menu-categories {
  max-height: calc(100vh - 2rem);
  overflow-y: auto;
}

.list-group {
    border-radius: 5px;
}

.list-group-item.list-group-item-action {
    border: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.list-group, .list-group-item.list-group-item-action.active {
    background-color: var(--color1);
    color: var(--white);
    text-underline-offset: 6px;
}

/* Optional: hide sticky on small screens */
@media (max-width: 767px) {
  .sticky-top-custom {
    position: static;
  }
}

.menu-item {
    padding: 0.5rem;
    border-bottom: 1px dashed #ddd;
}

.menu-item-single {padding: 10px;}

.menu-item-single strong {
    font-size: 1.25rem;
    margin-left: 10px;
}

.menu-item-single p {
    margin-left: 65px;
    font-size: 1.15rem;
}

.menu-item-price {
    width: 50px; height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: .825rem;
    font-weight: bold;
    color: var(--white);    
    background-color: var(--color1);
    border-radius: 50%;
}

.menu-item:hover {
  background-color: #f8f9fa;
}

/*
.card {padding: 30px;
    width:60%;
    margin: 120px auto 0;
    text-align: center;
}

.menu-card {
    background-color: #fff;
    padding: 22px;
    text-align: left;
    border-top: 3px solid var(--color1);
    height: 160px;
    max-height: 160px;
}

.menu-card-img {
    background-color: red;
    float: left;
    width: 160px;
    height: 160px;
    margin: -24px 15px 0 -22px;
}

.menu-card-price {float: right;
    margin: -22px -22px 0 0;
    background-color: var(--color1);
    padding: 8px 12px;
    color: #fff;
    font-weight:800;
    font-size: 19px;
}

.menu-card-description {
    font-size: 17px;
}
*/
.careers {background-color: var(--white);
    padding: 40px 40px 50px;
    border-radius: 10px;
}

.careers-form label {font-weight: 500;
    color: var(--color3);
}

.menu-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 */
}

.menu-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**  FOOTER BEGINS  **/
.footer {background-color: var(--color1);
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 10px;
    color: var(--white)
}

.footer ul {list-style-type: none;
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}

.footer h4 {color: var(--white);}

.footer .btn-primary {background-color: var(--white); color: var(--color3); border: var(--white);
    font-weight: 600;
}

.footer .btn-primary a {color: var(--color3);}

.footer .btn-primary:hover {background-color: rgba(255, 255, 255, .65);}

.footer p a {color: var(--white);
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}

/**  RESPONSIVE BEGINS  **/
@media screen and (max-width: 992px) { /* LG */
    #fullScreenDiv {height: 65vh;}

    .vid-description h1 {font-size: 3.5rem;}

    .img-columns {min-height: 320px; max-height: 320px;
        box-shadow: -5px -5px 15px var(--opacity1);
    }
}

@media screen and (max-width:768px) { /* MD */

    #fullScreenDiv {height:50vh;}
    
    .vid-description {margin-top: -360px;
        left: 5%; right: 5%;
    }

    .vid-description h1 {font-size: 2.45rem;}
    
    .vid-description p {font-size: 1.35rem;}

    .img-columns {min-height: 280px; max-height: 280px;
    }

    .card {width: 80%;
        margin-top: 60px;
    }

    .footer {width: 100%;
        padding:20px;
        margin: 25px auto 25px;
        text-align: center;
    }
    
    .footer .btn-primary {margin-bottom: 30px;}

    .footer li {display: inline;
        padding: 0 9px;
        margin-top: 15px;
    }
}

@media screen and (max-width:576px) { /* SM */
    body p {font-size: 18px;}

    .spacer-top {margin-top: 2.5rem;}

    #videowrapper {height: 35vh;}

    #fullScreenDiv {height:100vh;}
    
    .vid-description {margin-top: -230px;
        padding: 0 3% 0 0;
        width: 100vw;
        overflow: hidden;
    }

    .vid-description h1 {font-size: 2.1rem;
        line-height: 1;
        text-shadow: var(--white) 1px 0 10px;
    }
    
    .vid-description p {font-size: 1.25rem;}

    .image-intro {min-height: 200px;
        max-height: 200px;
    }

    .wave, .image-intro-gradient {display: none;}

    .img-columns {min-height: 240px; max-height: 240px;}

    .card {width: 80%;
        margin-top: 30px
    }

    .contact-info {margin-bottom: 40px;}

    .footer {width: 90%;
        padding:20px;
        margin: 25px auto 25px;
    }
}
